charset/sbcsdat.c
doc/*.html
doc/putty.cnt
doc/putty.hhc
doc/putty.hhk
doc/putty.hhp
doc/putty.hlp
doc/putty.chm
mac/Makefile.mpw
macosx/Makefile
unix/Makefile.gtk
unix/Makefile.in
unix/Makefile.ux
windows/DEVCPP
windows/MSVC
windows/Makefile.bor
windows/Makefile.cyg
windows/Makefile.lcc
windows/Makefile.vc
windows/PuTTY.msi
windows/PuTTY.wixobj
windows/PuTTY.wixpdb
windows/*.exe
windows/*.map
windows/*.obj
windows/*.pdb
windows/*.res
windows/*.rsp
