charset/sbcsdat.c
mac/Makefile.mpw
macosx/Makefile
unix/Makefile.gtk
unix/Makefile.in
unix/Makefile.ux
windows/DEVCPP
windows/MSVC
windows/Makefile.bor
windows/Makefile.cyg
windows/Makefile.lcc
windows/Makefile.vc
*.exe
*.map
*.obj
*.pdb
*.res
*.rsp
